#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

TMPDIR=debian/tmp

%:
	dh $@
	
override_dh_auto_configure:
	dh_auto_configure -- \
	    --prefix=/usr \
	    --bindir=/usr/games \
	    --datarootdir=/usr/share

override_dh_auto_install:
	dh_auto_install
	find debian/ -name '*.la' -delete
	for size in 16 24 32 48; do \
	    mkdir -p $(TMPDIR)/usr/share/icons/hicolor/$${size}x$${size}/apps || exit 1;  \
	    convert $(CURDIR)/data/gmchess.png -resize $${size} \
	    $(TMPDIR)/usr/share/icons/hicolor/$${size}x$${size}/apps/gmchess.png || exit 1; \
	    done
	rm -f $(TMPDIR)/usr/share/man/man6/*.6.6.gz
